@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/app.css">
    <link rel="stylesheet" href="~/css/Cadastre-se.css">

</head>
<body>
    <div class="login-form">
        <h2 class="mb-4">Entre com sua conta</h2>

        <form method="post" asp-page-handler="Login" id="login">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="Email" placeholder="Seu email" class="form-control" required />
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" id="password" name="Password" placeholder="Senha" class="form-control" required />
            </div>

            <a class="ass" href="#">Esqueceu a senha?</a>

            <button type="submit" class="btn btn-primary custom-button">Entrar</button>
        </form>

        <div class="naotem">
            <p class="nao">Não tem uma conta?</p>
            <a href="/Cadastre-se" class="a2">Cadastre-se</a>
        </div>
    </div>
    <script>
        document.getElementById('login').addEventListener('submit', function (e) {
            e.preventDefault();
            // Lógica de autenticação aqui
            alert('Formulário enviado!');
        });
    </script>
</body>
</html>
