@page
@model NossospcrModel

@{
    ViewData["Title"] = "nossospdc";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Parceiros</title>
    <link href="~/css/app.css" rel="stylesheet" />
    <link href="~/css/Nossospcr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;700&display=swap">
</head>
<body>
    <div class="work-section-wrapper">
        <div class="work-section-top">
            <h1 class="primary-heading">Nossos Parceiros</h1>
        </div>
        <div class="work-section-bottom">

            <div class="work-section-info">
                <div class="info-boxes-img-container">
                    <img src="../Imagens/Mercado2.png" alt="Banner FEA">
                </div>

                <h2>Mercadinho Econômico</h2>
                <p class="carrefour">O Mercadinho Econômico é um supermercado que oferece uma variedade de produtos e alimentos. Esta rede é uma excelente opção com preços super acessíveis.</p>
            </div>
        </div>
    </div>
</body>
</html>